@import "../../app/layout/styles.css";
@import "../../app/components/UI-kits.css";

body.active {
  overflow: hidden;
}

main {
  position: relative;
  overflow: hidden;
}
main > .image {
  position: absolute;
  top: 390px;
}

main > .image img {
  width: 100%;
  object-fit: cover;
}

footer {
  position: relative;
  z-index: 1;
}

section.header {
  position: relative;
  z-index: 5;
}

section.header .cloud-logo {
  background: url('../../app/static/images/header/cloud-galery.png') no-repeat;
  background-size: cover;
}

section.gallery {
  position: relative;
  z-index: 1;
  margin-top: 290px;
  margin-bottom: 245px;
  background-color: #fff;
}

section.gallery .cloud {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: calc(100vw / 3.317);
}

section.gallery .cloud img {
  width: 100%;
  object-fit: cover;
}

section.gallery .cloud-top {
  top: -190px;
}

section.gallery .cloud-bottom {
  bottom: -190px;
}

section.gallery h2 {
  text-align: center;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

section.gallery .photos {
  position: relative;
  display: -ms-grid;
  display: -moz-grid;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}

section.gallery .agitation {
  position: absolute;
  z-index: 5;
}

@media screen and (max-width: 1350px) {
  section.gallery .agitation {
    display: none;
  }
}

section.gallery .agitation.top {
  left: 50%;
  top: -95px;
  transform: translate(-100%, -100%);
}

section.gallery .agitation.middle {
  right: 0px;
  top: 50%;
  transform: translate(100%, -100%);
}

section.gallery .agitation.bottom {
  left: 0;
  bottom: 160px;
  transform: translateX(-100%);
}

section.gallery .photos .item {
  cursor: pointer;
  position: relative;
  width: 100%;
  max-height: 262px;
  
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

section.gallery .photos .item img {
  pointer-events: none;
  width: 100%;
  object-fit: cover;
}

section.gallery .photos .item .view {
  pointer-events: none;
  opacity: 0;
  position: absolute;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(164, 121, 255, 0.5);

  transition: opacity 0.3s linear;
}

section.gallery .photos .item .view img {
  width: 61px;
  height: 61px;
}

section.gallery .item:hover .view{
  opacity: 1;
}

.slider {
  user-select: none;
  pointer-events: none;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  height: 100vh;
  width: 100vw;

  transition: opacity 0.3s linear;
}

.slider-bg {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(89, 89, 89, 0.85);
}

.slider.active {
  pointer-events: auto;
  opacity: 1;
  z-index: 100;
}


.slider .slider-wrapper {
  position: relative;
  z-index: -1;
  cursor: grab;

  width: 100%;
  max-height: 580px;
  height: 580px;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider.active .slider-wrapper {
  z-index: 101;
}

.slider .glide__track {
  width: 100%;
  height: 100%;
}

.slider .glide__track ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider .glide__track ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .glide__track ul li .image {
  width: 870px;
  border-radius: 10px;
  overflow: hidden;
}

.slider .glide__track ul li .image img {
  width: 100%;
  object-fit: cover;
}

.slider button {
  position: absolute;
  z-index: 1001;
  top: 50%;
}

.slider button.arrow-left {
  left: 50%;
  transform: translate(-840%, -50%);
}
.slider button.arrow-right {
  right: 50%;
  transform: translate(840%, -50%);
}