@import "../app/layout/styles.css";
@import "../app/components/UI-kits.css";

main {
  position: relative;
}

main > img {
  position: absolute;
  top: 400px;
  width: 100%;
}

section.header {
  position: relative;
  z-index: 5;
}

section.advantages {
  padding-top: 60px;

  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.advantages > div {
  width: 50%;
}

section.advantages .advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

section.advantages .advantages__list h2 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

section.advantages .advantages__list ul {
  margin-bottom: 35px;
}

section.advantages .advantages__list li {
  position: relative;
  padding-left: 15px;
  font-size: 18px;
  line-height: 27px;
}

section.advantages .advantages__list li:not(:last-child) {
  margin-bottom: 10px;
}

section.advantages .advantages__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  transform: translateY(-50%);

  display: block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #128DFF;
}

section.advantages .advantages__images {
  height: 100%;
}

section.advantages .advantages__images .item {
  position: absolute;
  border: 20px solid #FFC93D;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFC93D;
}

section.advantages .advantages__images .item img {
  width: 100%;
  object-fit: cover;
}

section.advantages .advantages__images .item:first-child {
  z-index: 1;
  width: 345px;
  right: 170px;
  bottom: 215px;
  transform: rotate(3.12deg);
}

section.advantages .advantages__images .item:nth-child(2) {
  z-index: 2;
  width: 329px;
  right: -65px;
  bottom: 60px;
  transform: rotate(-5.5deg);
}

section.advantages .advantages__images .agitation {
  position: absolute;
  bottom: 15px;
  right: 50%;
  transform: translateX(100%);
}

/* LESSONS */

section.lessons {
  padding: 80px 14px 55px;
}

section.lessons h2 {
  text-align: center;
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

section.lessons .lessons__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section.lessons .lessons__list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 185px;
}

section.lessons .lessons__list .item img {
  height: 102px;
}

section.lessons .lessons__list h3 {
  text-align: center;
  margin-top: 19px;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
}

/* PHOTO-TRIP */

section.photo-trip {
  user-select: none;
  padding-bottom: 100px;
  position: relative;
}

section.photo-trip h2 {
  position: absolute;
  z-index: 1001;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -900%);

  text-align: center;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

section.photo-trip .agitation {
  position: absolute;
  z-index: 1001;
  left: 50%;
  top: 50%;
  transform: translate(-265%, -210%);
}

section.photo-trip .slider {
  position: relative;
  width: 100%;
  height: calc(100vw / 1.78);
  background: url('../app/static/images/pages/main/photo-trip/cloud.png') no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.photo-trip .slider-wrapper {
  cursor: grab;
  position: relative;
  width: 100%;
}

section.photo-trip .slider .glide__track {
  width: 100%;
  overflow: hidden;
}

section.photo-trip .slider ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.photo-trip .slider li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.photo-trip .slider-wrapper .slider__item img {
  padding: 30px;
  background-color: #44C7FF;
  border-radius: 15px;
  width: 441px;
  height: 294px;

  transition: width 0.5s ease, height 0.3s ease;
}

section.photo-trip .slider-wrapper .glide__slide--active img{
  width: 543px;
  height: 363px;
}

section.photo-trip .slider button {
  position: absolute;
  z-index: 1001;
  top: 50%;
}

section.photo-trip .slider button.arrow-left {
  left: 50%;
  transform: translate(-600%, -50%);
}
section.photo-trip .slider button.arrow-right {
  right: 50%;
  transform: translate(600%, -50%);
}


/* COMMENTS */

section.comments {
  user-select: none;
  position: relative;
  padding-bottom: 110px;
}

section.comments .agitation {
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-280%);
}

@media screen and (max-width: 1100px) {
  section.comments .agitation {
    transform: translateX(-255%);
  }
}

section.comments h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 38px;
}

section.comments .slider-wrapper {
  cursor: grab;
  position: relative;
  width: 100%;
}

section.comments .glide-com .glide__track {
  width: 100%;
  overflow: hidden;
}

section.comments .glide-com .glide__track ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.comments .glide-com .glide__track li {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.comments .glide-com .glide__track li .comment-item {
  width: 630px;
  padding: 35px 55px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

section.comments .glide-com .glide__track li .comment-item h3 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  color: #557AFF;
  margin-bottom: 18px;
  text-transform: capitalize;
}

section.comments .glide-com .glide__track li .comment-item p {
  font-size: 18px;
  line-height: 30px;
}

section.comments .glide-com button {
  position: absolute;
  z-index: 1001;
  top: 50%;
}

section.comments .glide-com button.arrow-left {
  left: 50%;
  transform: translate(-640%, -50%);
}
section.comments .glide-com button.arrow-right {
  right: 50%;
  transform: translate(640%, -50%);
}

/* MEDIA */

@media screen and (max-width: 1400px) {
  section.photo-trip h2 {
    transform: translate(-50%, -830%);
  }

  section.photo-trip .agitation {
    transform: translate(-245%, -195%);
  }

  section.photo-trip .slider button.arrow-left {
    left: 50%;
    transform: translate(-570%, -50%);
  }
  section.photo-trip .slider button.arrow-right {
    right: 50%;
    transform: translate(570%, -50%);
  }
}


@media screen and (max-width: 1200px) {
  section.advantages .advantages__images .item {
    border-width: 15px;
  }
  section.advantages .advantages__images .item:first-child {
    width: 295px;
    right: 220px;
    bottom: 203px;
  }

  section.advantages .advantages__images .item:nth-child(2) {
    width: 289px;
    right: 20px;
    bottom: 71px;
  }
  section.advantages .advantages__images .agitation {
    width: 185px;
    bottom: 0px;
  }

  section.lessons .lessons__list h3 {
    font-size: 26px;
  }

  section.photo-trip h2 {
    transform: translate(-50%, -700%);
  }

  section.photo-trip .agitation {
    transform: translate(-234%, -193%);
    width: 115px;
  }

  section.photo-trip .slider-wrapper .slider__item img{
    width: 380px;
    height: 253px;
  }

  section.photo-trip .slider-wrapper .glide__slide--active img {
    width: 441px;
    height: 294px;
  }

  section.photo-trip .slider button.arrow-left {
    left: 50%;
    transform: translate(-480%, -50%);
  }
  section.photo-trip .slider button.arrow-right {
    right: 50%;
    transform: translate(480%, -50%);
  }
}