footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: calc(100vw / 3.302);
  background: url('../static/images/footer/bg.png') no-repeat left bottom;
  background-size: cover;
}

footer h2 {
  font-size: 36px;
  line-height: 47px;
  font-weight: 600;
  text-transform: uppercase;
}

footer .bottom.container {
  height: auto;
}

footer .bottom {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer .bottom .contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .bottom .contacts__item {
  display: flex;
  align-items: center;
  max-width: 280px;
}

footer .bottom .contacts__item:first-child {
  margin-right: 30px;
}

footer .bottom .contacts__item img {
  margin-right: 10px;
}

footer .bottom .contacts__item div {
  display: flex;
  flex-direction: column;
}

footer .bottom .contacts__item a {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  text-decoration: none;
  color: #292929;
}

footer .bottom .social {
  display: flex;
  align-items: center;
}

footer .bottom .social .link {
  margin-right: 15px;
}

footer .bottom .social p {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
}

@media screen and (max-width: 1200px){
  footer h2 {
    font-size: 28px;
    line-height: 35px;
  }
}