header {
  padding: 37px 0 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav.links {
  width: 64.15%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav.links a {
  position: static;
  font-size: 19px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}

header nav.links span.active {
  position: relative;
  color: #fff;
}

header nav.links span.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);

  display: block;
  width: 85.5%;
  height: 1px;
  background-color: #fff;
}

header .phone-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .phone-number a {
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  text-transform: uppercase;
}

header .phone-number .agitation  {
  position: absolute;
  bottom: -21px;
  left: 0;
  z-index: 2;

  transform: translateY(100%);
}

header .phone-number .agitation img {
  margin-left: 90px;
}

header .phone-number img {
  margin-right: 3px;
}

.cloud-logo {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: calc(100vw / 2.82);
  color: #414141;
  background-size: cover;
}

.cloud-logo p {
  font-size: 40px;
  line-height: 55px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 90px;
}


.cloud-logo.cloud-logo_main {
  justify-content: space-around;

  height: calc(100vw / 2.19);

  background: url('../static/images/header/cloud-logo.png') no-repeat;
  background-size: cover;
}

.cloud-logo.cloud-logo_main h3 {
  margin: 0;
  font-size: 30px;
  line-height: 41px;
}

.cloud-logo.cloud-logo_main p {
  font-size: 26px;
  line-height: 35px;
  text-transform: none;
}

@media screen and (max-width: 1200px) {
  header .phone-number .agitation {
    left: unset;
    right: 0;
  }

  header .phone-number .agitation img {
    margin-left: 30px;
  }

  .cloud-logo h3 {
    font-size: 26px;
    line-height: 35px;
  }

  .cloud-logo p {
    font-size: 22px;
    line-height: 31px;
  }
}