@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

@import "globalStyles.css";
@import "../components/container.css";
@import "header.css";
@import "footer.css";

.wrapper-styles {
  min-height: 100%;
  font-family: 'Nunito', sans-serif;
}

.main {
  background: linear-gradient(180deg, #04B9EB 0%, #19DFFB 48.32%, #76EBFC 100%);
  color: #292929;
  min-height: 100vh;
}