.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 14px;
  padding-left: 14px;
  width: 100%;
  height: 100%;
  position: relative;
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 800px;
  }
}

@media screen and (min-width: 990px) {
  .container {
    max-width: 1020px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1060px;
  }
}