.btn {
  display: inline-block;
  border: none;
  padding: 9px 32px;
  background-color: #FFD912;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: inherit;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  color: inherit;

  transition: background-color 0.3s linear;
}

.btn:hover {
  background-color: #FFB800;
}

.btn:active {
  background: #FFB800;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-write {
  font-size: 25px;
  line-height: 34px;
  padding: 11px 34px;
}

.arrow {
  width: 63px;
  height: 63px;

  border: none;
  border-radius: 100%;
  padding: 14px 24px 14px 14px;

  background-color: #FF57D0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s linear;
}

.arrow:hover, .arrow:active {
  background-color: #DC23A8;
}

.arrow-right {
  padding: 14px 14px 14px 24px;
}

.arrow-right img {
  transform: rotate(-180deg);
}

.arrow-large {
  width: 83px;
  height: 83px;
  padding: 18px 30px 18px 20px;
}

.arrow-large.arrow-right {
  padding: 18px 20px 18px 30px;
}

.arrow-large img {
  width: 31px;
}