@import "../app/layout/styles.css";
@import "../app/components/UI-kits.css";

main {
  position: relative;
  overflow: hidden;
}
main > .image {
  position: absolute;
  top: 273px;
  left: -9vh;
}

@media screen and (min-width: 990px) {
  main > .image {
    top: 340px;
  }
}

main > .image img {
  width: 100%;
  object-fit: cover;
}

footer {
  position: relative;
  z-index: 1;
}

section.header {
  position: relative;
  z-index: 1001;
}

section.header .cloud-logo {
  background: url('../app/static/images/header/cloud-team.png') no-repeat;
  background-size: cover;
}

section.gallery {
  position: relative;
  padding: 52px 14px 70px;
}

section.gallery .agitation {
  position: absolute;
  top: -20px;
  right: -25px;
  transform: translateX(100%);
}

@media screen and (max-width: 1400px) {
  section.gallery .agitation {
    width: 120px;
    right: -10px;
  }
}

@media screen and (max-width: 1320px) {
  section.gallery .agitation {
    display: none;
  }
}

section.gallery .events {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

section.gallery .item {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 33px 33px 22px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

section.gallery .item .item__image {
  width: 204px;
  margin-bottom: 18px;
  border-radius: 100%;
}
section.gallery .item .item__image img {
  width: 100%;
  object-fit: cover;
}

section.gallery .item h3 {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 8px;
}

section.gallery .item span {
  font-size: 20px;
  line-height: 24px;
  color: #939393;
  margin-bottom: 10px;
}

section.gallery .item p {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}