@import "../app/layout/styles.css";
@import "../app/components/UI-kits.css";

main {
  position: relative;
  overflow: hidden;
}
main > .image {
  position: absolute;
  top: 273px;
  right: -9vh;
}

@media screen and (min-width: 990px) {
  main > .image {
    top: 340px;
  }
}

main > .image img {
  width: 100%;
  object-fit: cover;
}

footer {
  position: relative;
  z-index: 1;
}

section.header {
  position: relative;
  z-index: 1001;
}

section.header .cloud-logo {
  background: url('../app/static/images/header/cloud-galery.png') no-repeat;
  background-size: cover;
}

section.gallery {
  position: relative;
  padding: 52px 14px 70px;
}

section.gallery .agitation {
  position: absolute;
}

section.gallery .agitation.upper {
  top: 66px;
  left: -25px;
  transform: translateX(-100%);
}

section.gallery .agitation.lower {
  top: 400px;
  right: -25px;
  transform: translateX(100%);
}

@media screen and (max-width: 1400px) {
  section.gallery .agitation {
    width: 120px;
  }

  section.gallery .agitation.upper {
    left: -10px;
  }

  section.gallery .agitation.lower {
    right: -10px;
  }
}

@media screen and (max-width: 1320px) {
  section.gallery .agitation {
    display: none;
  }
}

section.gallery .events {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

section.gallery .item {
  text-decoration: none;
  width: 100%;
  min-height: 304px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  padding: 15px 15px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  transition: background-color 0.3s linear;
}

section.gallery .item:hover {
  background-color: #d5c3ff;
}

section.gallery .item span {
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 5px;
}

section.gallery .item img {
  width: 100%;
}