@import "../app/layout/styles.css";
@import "../app/components/UI-kits.css";

main > .image img {
  width: 100%;
  object-fit: cover;
}

footer {
  position: relative;
  z-index: 1;
}

section.header {
  position: relative;
  z-index: 1001;
}

section.header .cloud-logo {
  background: url('../app/static/images/header/cloud-instruction.png') no-repeat;
  background-size: cover;
}



section.instruction {
  padding: 21px 14px 70px;
}

section.instruction h2 {
  text-align: center;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 36px;
  font-weight: normal;
}

section.instruction .variants {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.instruction .variants .item {
  max-width: 292px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section.instruction .variants .item:first-child {
  margin-right: 115px;
}

section.instruction .variants .item .image {
  width: 82px;
  margin-bottom: 47px;
}

section.instruction .variants .item .image img {
  width: 100%;
  object-fit: cover;
}

section.instruction .variants .item p {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}


section.documents {
  margin-bottom: 90px;
  width: 100%;
  height: calc(100vw / 2.34);

  background: url('../app/static/images/pages/instruction/cloud.png') no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.documents h2 {
  font-size: 36px;
  line-height: 49px;
  font-weight: normal;
  margin-bottom: 40px;
}

section.documents ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 22px;
  line-height: 26px;
}

section.documents ul li:not(:last-child) {
  margin-bottom: 25px;
}

section.documents ul li::before {
  content: '';
  
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #FFE92F;
  margin-right: 18px;
}


@media screen and (max-width: 1200px) {
  section.documents h2 {
    margin-bottom: 25px;
  }

  section.documents ul li {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }

  section.documents ul li::before {
    width: 10px;
    height: 10px;
  }
}