@import "../app/layout/styles.css";
@import "../app/components/UI-kits.css";


main {
  position: relative;
  overflow: hidden;
}

main > .image {
  width: 100%;
  height: calc(100vw / 1.829);

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

main > .image img {
  width: 100%;
  object-fit: cover;
}

footer {
  position: relative;
  z-index: 1;
}

section.header {
  position: relative;
  z-index: 1001;
}

section.header .cloud-logo {
  background: url('../app/static/images/header/cloud-contacts.png') no-repeat;
  background-size: cover;
}

section.feedback {
  position: relative;
  z-index: 5;
  padding: 17px 0 116px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.feedback h2 {
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  font-weight: normal;
  margin-bottom: 34px;
}

section.feedback form {
  padding: 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

section.feedback form input {
  width: 100%;

  border: 2px solid #44C7FF;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px 30px;
  margin-bottom: 30px;

  font-size: 22px;
  line-height: 26px;
  color: #7B7B7B;
  font-family: inherit;
}

section.geo {
  margin-bottom: 110px;
  position: relative;
  z-index: 4;

  width: 100%;
  height: calc(100vw / 1.98);

  display: flex;
  justify-content: center;
  align-items: center;

  background: url('../app/static/images/pages/contacts/cloud.png') no-repeat;
  background-size: cover;
}

section.geo .map-container {
  width: 580px;
  height: 393px;
  padding: 10px;

  border: 6px dashed #44C7FF;
  border-radius: 15px;
  margin-right: 100px;
}

section.geo .map-container .map {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

section.geo .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

section.geo .data .item {
  max-width: 290px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

section.geo .data .item:first-child {
  margin-bottom: 20px;
}

section.geo .data .item img {
  margin-bottom: 13px;
}

section.geo .data .item a {
  font-size: 24px;
  line-height: 31px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1200px) {
  section.geo .map-container {
    width: 422px;
    height: calc(424px / 1.4758);
  }

  section.geo .data .item {
    max-width: 215px;
  }

  section.geo .data .item img {
    width: 35px;
  }

  section.geo .data .item a {
    font-size: 18px;
    line-height: 24px;
  }
}